
.not_found {
  color: #d8d8d8;
  font-size: 34px;
  margin-left: 380px;
  margin-top: 260px;
  display: flex;
  gap: 70px;
}

.not_found_box img {
  width: 390px;
  margin-top: -100px;
  animation: bounce 2s ease-in-out infinite;
}

.ops {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  font-size: 120px;
  display: flex;
}

.not_found h3 {
  margin-left: 10px;
  color: #f0bb2b;
}

.not_found_box2 {
  margin-left: 130px;
}

.dots {
  display: flex;
  gap: 8px;
  margin-top: 100px;
}

.dot {
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
  animation: bounce 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

.btn_nf button{
  width: 230px;
  max-width: 19 0px;
  height: 30px;
  background: #f0bb2b;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.btn_nf button a{
  color: #fff;
  font-size: 20px;
}

p{
  font-size: 17px;
  margin-left:20px ;

}

h4{
  margin-left: 20px;
  margin-top: 10px;
}